
$cor-botao-verde: #1abc9c;


.ui-messages-error-summary,
.ui-messages-info-summary,
.ui-messages-warn-summary,
.ui-messages-fatal-summary{
  font-family: $font-bold;
  font-weight: normal;
  font-size: 13px;
}

.texto-paragrafo{
    padding-bottom: 7px !important;
    display: block;

    &__modal{
      line-height: 1.5em;
      font-family: robotoregular;
      font-size: 15px;
    }
}


.listagem-grupo-dados{
    margin-bottom: 40px;
}

.listagem-dados-pessoais{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        margin-bottom: 16px;
    }
}

.listagem-titulo{
    text-transform: uppercase;
    font-size: 12px;
    color:#34495e;
    display: block;
    font-family: $font-titulo;
    margin-bottom: 2px
}

.listagem-dados{
    font-size: 16px;
    color:#7f8c8d;
}

h3{
    color: #555555;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: $font-titulo;
    text-transform: uppercase
}

h4,
.titulo-guia-processos{
    font-size: 12px;
    font-family: $font-titulo;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 5px;
    text-align: center
}

.link-btn-editar{
    @extend %box-sizing;

    display: inline-block;
    padding-top: 10px;

    padding-left: 40px;
    padding-right: 15px;
    height: 30px;
    text-decoration: none;

    background-image: url(../images/icone-edit.png);

    background-position: 14px ;

}

.menu-ocorrencias{
    display: block;
    background-color: #f1f1f1;
    height: 40px;
    width: 100%;
}

.lista-andamento,
.lista-caso{
    @extend %box-sizing;

    display: block;
    float: left;
    font-family: $font-padrao !important;
    padding: 0px;
    margin-top: 0px;
    width: 80%;

    .lista-andamento{
        width: 100%;
        //background-color: #f1f1f1;

        .lista-itemAndamento{
            border-bottom: 1px solid darken(#f1f1f1, 5%) !important;

            .and_1{
                color: #16A385 !important;
            }

            .and_2{
                color: #969292 !important;
            }

            .and_3{
                color: #969292 !important;
            }

            .and_4{
                color: skyblue !important;
            }

            a{
                color: black !important;
            }

            .lista-itemAndamento--talkbox{
              border-bottom: none !important;
            }
        }

        .lista-itemAmdamento__ocorrencia{
            border-bottom: 2px solid #e1e1e1 !important;
            padding: 10px 0px;
        }
    }

    .lista-itemAndamento,
    .lista-itemCaso{
        display: block;
        position: relative;
        float: none;
        clear: both;
        height: auto;
        overflow: hidden;

        padding-right: 170px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 0px;

        border-bottom: 1px solid darken(#f3faff, 5%);

        &--talkbox{
          padding-right: 0px !important;
        }

        .lista-anexo{
            padding: 0px !important;
            list-style-type: square !important;
        }

        label{
            width: 200px;
        }

    }



    .lista-titulo{
        display: block;
        font-size: 13px !important;
    }


    h3{
        @extend %box-sizing;
        display: inline-block !important;
        margin-bottom: 0px !important;
        border-bottom: none;
        min-height: 24px;
        padding-top: 2px;

    }

    .lista-data{
        display: inline;
        font-family: $font-titulo !important;
        padding-right: 10px;
        padding-top: 5px;

        margin-bottom: 0px !important;
        font-weight: normal;
    }

    p~h3{
        font-family: $font-titulo;
        font-size: 13px;
    }

    p{
        margin-top: 5px !important;
        font-size:14px;
    }


    .agrupa-2-links{
        position: absolute;
        right: 0px;
        top: 0px;
    }

    a{
        text-decoration: none;

        &:hover{
            color: #7772bc;
        }
    }

    .lista-anexos{
        padding-left: 10px;
        list-style: none;
        padding-bottom: 10px;

        li{
            color: blueviolet;
        }

        .item__caso-protuario{
          width:500px;
          overflow:hidden;
        }
    }

    .agrupa-links-ocorrencias{
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;

        &__processosCRC{
          @extend .agrupa-links-ocorrencias;
          top: 14px;

          .link-responder{
              margin-top: 8px;
          }
        }
    }
}

.lista-itemCaso{

    padding-top: 5px !important;
    padding-bottom: 5px !important;

    .lista-andamento{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .link-incluir-caso,
    .link-editar,
    .link-excluir{
        margin-top: 8px !important;
    }


}

.lista-itemCaso{

        &:nth-child(2n){
            background-color: #f3faff;
        }
}

.lista-caso.lista-caso-prontuario{
    width: 100%;
}

.msg-sem-atendimento-caso{
    text-align: center;
    display: block;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.msg-listar-pauta{
    margin-top: 40px;
}

.msg-sigilo-processo,
.msg-sigilo-processo__justificativa{
    display: block;

    b{
        font-family: $font-titulo;
        font-weight: normal;
    }
}

.msg-sigilo{
  padding: 10px;
  display: block;
  margin-top: 20px;
  border-top: 1px solid #eed3d7;
  border-bottom: 1px solid #eed3d7;
  background-color: #f2dede;
  color:#b94a48;
  text-transform: uppercase;
  font-family: $font-titulo;
}

.msg-ocorrencia{
    display: block;
    float: left;
    padding: 10px;
    text-transform: uppercase;
    font-family: $font-titulo;
}

.msg-ultimo-tendimento{
  clear: both;
  display: block;
  margin-bottom: 10px;
}

.encaminhamento-urgencia{
  background-color:#FF4A4A;
  display:block;
  padding:5px;
  border-radius: 2px;
  color: white;
}

.andamento-caso-prontuario{
    min-height: 100px;
    padding-top: 30px;
  //  overflow: auto;
  //  background-color: #f1f1f1;
  //  min-height: 457px

    .titulo-caso-prontuario{
        display: block !important;
        padding-bottom: 15px;
        font-size: 12px !important;
        text-transform: uppercase;
    }
}

.margin-top{
    margin-top: 20px
}


.atendimentoNaoValidado,
.atendimentoValidado{
    padding-top: 1px;
    color: #1abc9c !important;
    display: inline-block;
    font-size: 10px;
    letter-spacing: 2px;
    float: right;
}

.atendimentoValidado{
    color: #1abc9c !important;
}

.atendimentoNaoValidado{
    color: #e74c3c !important;
}

.header-lembrete{
    font-size: 14px !important;
    border-top: 1px solid #1abc9c;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: darken(#16a085, 20%);
    display: block;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: none;

}

.lista-lembretes{
    @extend %default-list;
    margin-left: 10px;

    .item{
        min-height: 30px;
        border-bottom: 1px dotted #1abc9c;
        padding: 4px 0px 4px 0px;
        margin-right: 10px;
        @extend %box-sizing;
        color: black;

        &:first-child{
            border-top: 1px dotted #1abc9c;
        }
        &:last-child{

        }

        a{
            color: #148771 !important;
            border-bottom: none !important;
        }
    }

}
.lembretes-totais-vencendo,
.lembretes-totais-vencido{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    background-color: #16a085;
    color: white;
    margin-right: 20px;
}

.label-orgao-menu{
    width: 50px !important;
    color: darken(#16a085, 20%);
}
.campo-orgao-menu input[type="text"]{

}

    .lembretes-totais-vencido{
        background-color: orangered;
    }
.nome-guia-recebida {
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
}


.container.recupera-senha{
    padding-top: 1px !important;
}

.list{

    padding-left: 10px;
    margin-top: 0px;


    &-item{
        list-style: none;
        padding-bottom: 3px;

        .label-detalhes{
            display: inline-block;
            width: 50px;
            text-align: right;
        }


    }
}

.dialog-botao-calendario{
    text-indent: -10000px;
    display: block;
    position: absolute;
    top: 0px;
    right: 30px;
    color: white;
    background: white;
    border: none;
}

.icone-atencao{
    background-image: url(../images/icone-atencao.png) !important;
    background-repeat: no-repeat !important;
}


.ui-icon.ui-confirm-dialog-severity.ui-icon-alert{
    display: none;
}

.text-center-content{
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;

}



.campo-texto-resposta{
    clear: both;
    width: 500px;
    height: 150px !important;
}

.nome-orgao-dist-eletronica{
    @extend %box-sizing;
    display: block;
    text-align: center;
    font-family: $font-titulo;
    height: 30px;
    padding-top: 6px;
    text-transform: uppercase;
    font-size: 14px !important;
}

.dados-distribuicao{
    @extend %box-sizing;

    display: block;
    text-align: center;
    background-image: url(../images/fundo-titulo02.png);
    padding-bottom: 6px;
    margin-bottom: 10px;

    &__item{
        display: inline-block;
        text-align: center;
    }

    &__item:nth-child(2){
        margin-right: 30px;
    }
}

.caixa-listagem{
    @extend %box-sizing;



    display:block;
    width: 920px;
    padding: 0px;
    margin-bottom: 15px;

    .no-arvore{
        text-decoration: none;
        white-space: normal;
        max-width: 890px;
        display: inline-block;
    }

    li{

    }

    .ui-treenode{
        border-bottom: 1px solid #eee;
        padding: 5px 0px 5px 0px;

        .ui-treenode{
            border-bottom: none;
        }

        &:last-child{
            border-bottom: none;
        }
    }

    .ui-tree-toggler{
        margin-top: 3px;
    }
}

.tira-margin-l{
    margin-left: 0px;
}




/* Gráfico
----------------------------------------------------*/
.relatorio-grafico{
    padding-top: 40px !important;

    .jqplot-y2axis-label,
    .jqplot-x2xis-label{
        text-transform: uppercase !important;
    }

    .jqplot-title{
        //color: #eeffdd;
        text-transform: uppercase !important;
    }

    .jqplot-xaxis-label{
        //color: #eeccaa;
        text-transform: uppercase !important;
    }

    .jqplot-yaxis-label{
        //color: #eeccaa;
        text-transform: uppercase !important;
    }

    .jqplot-series-shadowCanvas{
        //background-color: white;
    }

    .jqplot-x2axis{
        color: blueviolet;
        text-transform: uppercase !important;
    }


}




.relatorio-grafico-peticao{
    @extend .relatorio-grafico;
}


.jqplot-series-shadowCanvas {
        display: none !important;
    }

/* Mansagem de ERRO
-------------------------------------------------*/
.ui-messages{
    .ui-messages-error.ui-corner-all,
    .ui-messages-info.ui-corner-all{
        border-radius: 0px !important;
        border-left: 0px solid !important;
        border-right: 0px solid !important;

    }
}

.abas-primefaces{

    .ui-tabs-outline {
        outline: none !important;
        border: none !important;
    }
    .ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active{

        a{
            outline: none !important;
            //border: none !important;
        }
    }

    &__itens-categoria{
      @extend .abas-primefaces;
      padding: 0px;

      .ui-tabs-panel{
          border: 1px solid #ccc;
          border-top: none;
      }
    }
}

.agenda-calendario{

    h2,
    .fc-day-header.fc-widget-header{
        font-family: $font-titulo !important;
        font-weight: normal !important;

    }


}

.lista{
    padding: 0px;
    margin: 0px;

    .item-lista{
        list-style: none;
        padding: 0px;

    }
}

.lista-modal{
    padding: 0px;

    .item-lista-modal{
        list-style: none;
        text-transform: uppercase;

        padding: 8px 0px;
        border-bottom: 1px dashed  #ccc;
    }
}

.nome-verde{
    color: $cor-botao-verde !important;
    font-family: robotobold !important;
}


.lista-orgaos{
    padding-left: 14px;

    .item-orgao{
        list-style: square;
        position: relative;
        padding-right: 35px;
    }

    .item-orgao-resp{
        list-style: square;
        margin-bottom: 5px;
    }

    .link-visualizar{
      position: absolute;
      top:4px;
      right: 0px;
      margin: 0px;
    }
}

.alinha-conteudo-lista{
  margin-top: 0px !important;
  margin-left: 8px !important;
}


.lista-tabela{
      padding-left: 14px;
      margin: 0 0 0 10px;

    .item-lista-tabela{
      list-style: square;
      position: relative;
      padding-right: 0px;
      margin-bottom: 5px;
    }
}

.grupo-dados{
    margin-bottom: 5px
}

.titulo-celula{
    color:#a2a2a2;
    font-size:12px;
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom:0px;
}

.lista-dados{
    padding-left: 14px;
    margin: 0 0 0 4px;

    .item-dados{
        list-style: square;
        position: relative;
        padding-right: 35px;
        margin-bottom: 8px;
    }

    .link-visualizar,
    .link-editar{
      position: absolute;
      top:4px;
      right: 0px;
      margin: 0px;
    }

}

.grupo-conteudo{
    margin-bottom: 10px;
}

.fluxo-navegacao-CRC{
    display: block;
    list-style: none;
    width: 100%;
    padding: 0px !important;
    margin-bottom: 30px;
    margin-top: 0px;
    height: 60px;

    &:after{
      display: block;
      clear: both;
      float: none;
    }

    .item-text{
        display: inline-block;
        width: 80px;
        position: absolute;
        top:5px;
        left:17px;
        vertical-align: text-bottom;
        text-align: right;
        text-transform: uppercase;
        line-height: 14px;
        font-family: $font-padrao;
        font-size: 11px;

        &__finalizar{
          @extend .item-text;
          top: 19px;
        }

        &__assunto{
          @extend .item-text;
          left:32px;
        }
    }

    .item-fluxo{
        display: block;
        position: relative;
        float: left;
        width: 151px;
        height: 60px;
        background-image: url(../images/icones-marcadores-CRC-nao-processual.png);
        color:#1abc9c;

        &__assunto{
          @extend .item-fluxo;
          background-position: -25px 0px;
          width: 165px !important;
        }

        &__documentos{
          @extend .item-fluxo;
          background-position: -39px -70px;
        }

            &__documentos-desativado{
              @extend .item-fluxo;
              background-position: -249px -70px;
              color: #d2d2d2 !important;
            }

        &__selecionar-orgao{
          @extend .item-fluxo;
          background-position: -39px -140px;
        }

            &__selecionar-orgao-desativado{
              @extend .item-fluxo;
              background-position: -249px -140px;
              color: #d2d2d2 !important;
            }

        &__detalhar-orgao{
          @extend .item-fluxo;
          background-position: -39px -210px;
        }

            &__detalhar-orgao-desativado{
              @extend .item-fluxo;
              background-position: -249px -210px;
              color: #d2d2d2 !important;
            }

        &__agendar-encaminhar{
          @extend .item-fluxo;
          background-position: -39px -280px;
        }

            &__agendar-encaminhar-desativado{
              @extend .item-fluxo;
              background-position: -249px -280px;
              color: #d2d2d2 !important;
            }

        &__finalizar{
          @extend .item-fluxo;
          background-position: -39px -350px;
        }

            &__finalizar-desativado{
              @extend .item-fluxo;
              background-position: -249px -350px;
              color: #d2d2d2 !important;
            }
    }

}


.fluxo-navegacao-CRC__plantao{
    @extend .fluxo-navegacao-CRC;

    .item-text{
        top:5px;
        left:92px;

        &__finalizar{
          @extend .item-text;
          top: 19px;
          left:116px;
        }

        &__assunto{
          @extend .item-text;
          left:67px;
        }
    }

    .item-fluxo{
        width: 230px;
        box-sizing: border-box;
      //  border: 1px solid #000;

        background-image: url(../images/icones-marcadores-CRC-nao-processual__info-plantao.png);
        color:#1abc9c;

        &__assunto{
          @extend .item-fluxo;
          background-position: -66px 0px;
          width: 205px !important;
        }

        &__documentos{
          @extend .item-fluxo;
          background-position: -41px -70px;
        }

            &__documentos-desativado{
              @extend .item-fluxo;
              background-position: 241px -70px;
            }


        &__info-plantao{
          @extend .item-fluxo;
          background-position: -41px -140px;
        }

            &__info-plantao-desativado{
              @extend .item-fluxo;
              background-position:-331px -140px;
              color: #d2d2d2 !important;
            }

          &__finalizar{
            @extend .item-fluxo;
            width:255px;
            background-position: -16px -210px;
          }

              &__finalizar-desativado{
                @extend .item-fluxo;
                width:255px;
                background-position: 266px -210px;
                color: #d2d2d2 !important;
              }
    }
}

.fluxo-navegacao-CRC__processual--sem-caso{
    @extend .fluxo-navegacao-CRC;

    .item-text{
        top:5px;
        left:92px;

        &__visualizar-andamento{
          @extend .item-text;
          width: 141px;
          left: 37px !important;
        }

        &__selecionar-orgao{
          @extend .item-text;
          left:32px;
        }

        &__detalhar-orgao{
          @extend .item-text;
          left:32px;
        }

        &__encaminhar{
          @extend .item-text;
          top: 19px;
          left:32px;
        }

        &__finalizar{
          @extend .item-text;
          top: 19px;
          left:32px;
        }
    }

    .item-fluxo{
        box-sizing: border-box;
        background-image: url(../images/icones-marcadores-CRC-processual__SEM-caso.png);
        color:#1abc9c;

        &__visualizar-andamento{
          @extend .item-fluxo;
          width:236px !important;
          background-position: -90px 0px;
        }

        &__selecionar-orgao{
          @extend .item-fluxo;
          width:170px !important;
          background-position: -156px -70px;
        }

            &__selecionar-orgao-desativado{
              @extend .item-fluxo;
              width:170px !important;
              background-position: -502px -70px;
            }

        &__detalhar-orgao{
          @extend .item-fluxo;
          width:170px !important;
          background-position: -156px -140px;
        }

            &__detalhar-orgao-desativado{
              @extend .item-fluxo;
              width:170px !important;
              background-position: -502px -140px;
            }

        &__encaminhar{
          @extend .item-fluxo;
          width:170px !important;
          background-position: -846px -210px;
        }

            &__encaminhar-desativado{
              @extend .item-fluxo;
              color: #d2d2d2 !important;
              width:170px !important;
              background-position: -501px -210px;
            }

        &__finalizar{
          @extend .item-fluxo;
          width: 174px !important;
          background-position: -156px -280px;
        }

            &__finalizar-desativado{
              @extend .item-fluxo;
              width: 174px !important;
              background-position: -502px -280px;
            }

    }
}

.fluxo-navegacao-CRC__processual--com-caso{
    @extend .fluxo-navegacao-CRC;

    .item-text{
        top:5px;
        left:92px;

        &__visualizar-andamento{
          @extend .item-text;
          width: 141px;
          left: 289px !important;
        }

        &__registrar-ocorrencia{
          @extend .item-text;
          left:292px;
        }
    }

    .item-fluxo{
        box-sizing: border-box;
        background-image: url(../images/icones-marcadores-CRC-processual__COM-caso.png);
        color:#1abc9c;

        &__visualizar-andamento{
          @extend .item-fluxo;
          width:489px !important;
          background-position: -66px 0px;
        }

        &__registrar-ocorrencia{
          @extend .item-fluxo;
          width: 431px !important;
          background-position: -124px -70px;
        }

            &__registrar-ocorrencia-desativado{
              @extend .item-fluxo;
              width: 431px !important;
              color: #d2d2d2 !important;
              background-position: -592px -70px;
            }
    }
}


.lista-andamentos{
  margin-top: 0px;
  padding-left: 16px;

  .lista-item{
    list-style: square;
    padding: 2px 0px;
    text-align: justify;
  }
}

.tab__processosCRC{
  padding: 15px 25px;

  .ui-tabs-panel {
    padding-top: 0px !important;
    height: auto;
    overflow: auto;
    padding-right: 0px !important;
  }
}

.tira-padding-right{
  padding-right: 0px !important;
}

.titulo-ocorrencia{
  //background-image: url(../images/fundo-titulo02.png);
  padding: 5px;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
  text-align: center;

}

.msg-atendimento-online{
    padding: 0px;

    border: none !important;
    margin-top: 20px;
    border-radius: 0px;

    &__pessoa{

        padding: 10px 14px;

        &:nth-child(even){
          background-color:#f3faff !important;
        }
    }

    &__titulo{
        text-transform: normal;
        text-transform: none;
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 14px;
    }

    &__titulo-nome-pessoa{
      display: block;
      float: left;
    }

    &__titulo-data{
      display: block;
      float: right;
    }

    &__txt{
      font-size: 14px !important;
      clear: both;
    }

    .ui-panel-titlebar{
        padding: 10px 14px;
        border: none;
        background-color: darken(#f3faff, 10%);
        border-radius: 0px;
        text-transform: uppercase;
        font-family: $font-titulo;
    }

    .ui-panel-content{
        padding: 0 !important;
    }
}

%icone-status-agendamento{
  display: inline-block;
  height: 33px;
  width: 34px;

  background-image:  url(../images/icone-CRC-defensoria-cores-status.png);;
  background-repeat: no-repeat;
}

    .icone-status-agendamento__validado{
        @extend %icone-status-agendamento;
        background-position: -18px -22px;
    }

    .info-desmarcacao{
        display: none;
        position: absolute;
        top: -30px;
        right: -244px;
        z-index: 999;
        height: auto;
        padding: 7px;
        width: 250px;
        background-color: #fffcc7;
        text-align: left;
        box-sizing: border-box;
        box-shadow: 2px 2px 4px #ddd;
        border-radius: 2px;
        border: 1px solid #fdf3b1;
        color: #555;

        &__data{
          color: #555;
          font-size: 10px;
          font-family: $font-titulo;
        }
    }

    .icone-status-agendamento__desmarcado{
        @extend %icone-status-agendamento;
        background-position: -89px -22px;
        position: relative;
        z-index: 0;

        &:hover{
            .info-desmarcacao{
              display: block;
            }
        }
    }

    .icone-status-agendamento__pendente{
        @extend %icone-status-agendamento;
        background-position: -161px -22px;
    }

.titulo-visualizar-orgao{
    text-align: center;
    padding: 8px;
    font-size: 20px;
    background-image: url(../images/fundo-titulo02.png);
    border-radius: 4px;
    border: none;
}

.inline-block-element{
  display:inline-block;
  vertical-align:middle;
}

.item-categoria{

  &__column--arvore{
    display:block;
    float:left;
    width:360px;
  }

  &__column--edicao{
    display:block;
    float:right;
    width:550px;
  }

  &__tree-box{
    border-radius: 0;
    min-height: 150px;
    width: 350px;
    border: none;

    .ui-treenode-label{
      padding: 0px;
    }

    .ui-treenode-label.ui-state-highlight{
      background-color: #daefff !important;
      background-image: none;
    }
  }

  &__tree-box-element{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px;
    border-radius: 2px;
    color: #444;
    white-space: normal;
  }

  &__img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__sub-elemento--visualizacao{
    box-sizing: border-box;
    display:block;
    position: relative;
    padding: 8px 85px 8px 8px;
    width:100%;
    margin: 12px 0 20px 0 ;
    border: 1px solid #ccc;
  }

  &__sub-elemento--opcoes{
    display: block;
    position: absolute;
    width: 120px;
    top: 5px;
    right: 0px;
    text-align: right;
  }



  &__form-label{
    width:150px;
    float: none;
    clear: both;
    text-align: left;
  }

  &__input{
    margin: 0 !important;
  }

  &__datagrid{
    .ui-g{
      border: none;
    }

    .ui-datagrid-content{
      border: none;
      padding: 0px;
    }

    .ui-datagrid-column{
      padding: 0px;
    }

    .ui-panel{
      padding: 0px;
      margin-right: 10px;
    }

    .ui-panel-titlebar{
      border: none;
      border-radius: 0px;
      font-family: $font-titulo;
      padding-bottom: 5px;
    }

    .ui-panel-content td{
        text-align: center;
    }
  }

  &__datagrid-icons{
    margin: auto;
  }
}


 
.talkbox{
    position: relative;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;

    label{
      width: 160px !important;
    }

    &__ocorrencia{
        //esquerda
        @extend .talkbox;
      	background: #e5f7fd;
        //margin-top: 24px;
        margin-left: 22px;
        margin-right: 60px;
        border-top-left-radius: 0;

        &:after{
          background-color: #e5f7fd;
          content: "\00a0";
          display: block;
          height: 29px;
          width: 48px;
          position: absolute;
          top: 0px;
          left: -11px;
          border-radius: 8px;
          transform: rotate(0deg) skew(46deg);
            -moz-transform: rotate(0deg) skew(46deg);
            -ms-transform: rotate(0deg) skew(46deg);
            -o-transform: rotate(0deg) skew(46deg);
            -webkit-transform: rotate(0deg) skew(46deg);
        }
    }

    &__anotacao-resposta{
        //direita
        @extend .talkbox;
      	background: #efefef;
        //margin-top: 24px;
        margin-right: 22px;
        margin-left: 60px;
    }

    &__anotacao-resposta:after{
      background-color: #efefef;
      content: "\00a0";
      display: block;
      height: 29px;
      width: 48px;
      position: absolute;
      top: 2px;
      right: -11px;
      border-radius: 8px;
      transform: rotate(-43deg) skew(46deg);
          -moz-transform: rotate(-43deg) skew(46deg);
          -ms-transform: rotate(-43deg) skew(46deg);
          -o-transform: rotate(-43deg) skew(46deg);
          -webkit-transform: rotate(-43deg) skew(46deg);
    }

    &__agrupa-links{
      position: absolute;
      z-index: 100;
      top: 5px;
      background-color: white;
      right: 5px;
      border-radius: 6px;
      height: 33px;
      padding: 0px 5px;
    }
}
