@import
    '../tipografia.scss';

$cor-menu-principal: #1abc9c;
$cor-rodape: #fff;


%box-sizing{
    -webkit-box-sizing:  border-box;
       -moz-box-sizing:  border-box;
            box-sizing:  border-box;
}

%default-list{
        margin: 0;
        padding: 0;
        display: block;
        overflow: hidden;
        list-style: none;
        clear: both;
        float: none;
}

.site {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;

    @extend %box-sizing;
}



.container{
    @extend %box-sizing;

    margin: auto;
    position: relative;
    max-width: 960px;

    &__fluxo-CRC{
      @extend .container;
      padding-top: 5px !important;
    }
}

    .container.container--erro{
        background-color: transparent;
        min-height: 500px;
        max-width: 750px;
        border: none;
    }

    .container.container--large{
        max-width: 1200px;
    }

    .container--large{
        padding: 20px 0px !important;
    }

.l-cabecalho{
    min-height: 30px;

    border-bottom: 4px solid #16a085;
    width: 100%;
    position: relative;

    background-color: $cor-menu-principal;
    background-image: linear-gradient(to top, #16a085 1px, transparent 1px);
    background-size: 10px 30px;
    background-repeat: repeat-x;

    margin-bottom: 14px;

    .container{

    }

    .logo-defensoria{
        position: relative;
        width:162px;
        height:86px;
        display: block;
        background-image: url(../images/logoSistema.png);
        background-repeat: no-repeat;
        text-decoration: none;
        background-position: 0px -45px;
    }

    .logo-subtitulo{
        display: block;
        height: 20px;
        text-transform: uppercase;
        padding-top: 48px;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        font-size: 16px;
        color: red;
        font-family: $font-titulo;
    }

}


main{
    .container{
        max-width: 960px;
        background-color: #ffffff;
        //border: 1px solid #e0e4e5;
        padding: 20px;
    }
}

    .main-header{
        @extend %box-sizing;

        margin: auto;
        position: relative;
        max-width: 960px;



        .titulo-pagina,
        .titulo-secao,
        .titulo-subsecao{
            margin:  0;
            padding: 0;

            color: #555555;
        }

        .titulo-pagina{
        }

        .titulo-secao{
            display: block;
            height: 10px;
            line-height: 10px;
            /* border: 1px solid #111; */
            margin-left: 2px;
            font-size: 11px;
            text-transform: uppercase;


            font-family: $font-padrao;
            font-weight: normal;
            font-style: normal;

            &:after{
                content: ':';
            }
        }

        .titulo-subsecao{
            display: block;
            height: 26px;
            line-height: 26px;
            font-size: 30px;
            font-family: $font-titulo;
            font-weight: normal;
            padding-bottom: 8px;
            /* border: 1px solid #111; */
        }


    }

.l-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    background-color: $cor-rodape;
    width: 100%;
    border-top: 2px solid #16a085;
}

/* .versao-sistema{
    position: absolute;
    right: 20px;
    top: 17px;
    font-family: robotobold;
    color: white;
    font-size: 16px;
    display: block;
    border-radius: 2px;
    background-color: #16a085;
    padding: 0px 7px;
    height: 23px;
}
 */
.versao-sistema{
    display: block;
    float: right;
    font-family: robotobold;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    background-color: #16a085;
    padding: 0px 7px;
    height: 23px;
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 14px;
}


.logo-desfensoria{
    display: block;
    float: right;
    margin-top: 6px;
}

/* .logo-desfensoria{
    position: absolute;
    right: 20px;
    top:6px;
}
 */

//======================== ERROs ============================

.msg-busca{
    display:block;
    background-color: #f4f2f2;
    padding: 20px;

    text-align: center;
    margin-bottom: 20px;
}

.btn-icone-mais ~ .msg-busca{
    margin-top: 40px;
}
